.pink{
	background: #ff4081;
}
.yellow{
	background: #fbc02d;
}
.green{
	background: #4caf50;
}
.purple{
	background: #e040fb;
}
.red{
	background: #ff5252;
}
.blue{
	background: #1976d2;
}
.orange{
	background: #ffa000;
}
.gray{
	background: #fbfbfb;
}